body {
  padding: 0;
  margin: 0;
}
.page_nav > li {
  list-style: none;
  margin: 0;
}
.page_nav > li > a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}
.page_nav {
  display: flex;
  margin: 0;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 1rem;
}
.Hero_icon {
  max-width: 2rem;
}
.userLogin {
  display: flex;
}
#login,
#register {
  color: white;
  background-color: black;
  border: solid white 0.1rem;
}
#login {
  border-radius: 2rem 0 0 2rem;
  padding-left: 0;
}

#register {
  border-radius: 0 2rem 2rem 0;
  padding-right: 0;
}

.heroImg {
  width: 100%;
  max-height: 50%;
}
.mainShape {
  margin: 1rem;
  position: relative;
}
